:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
	width:1440px;
	height:1024px;
	position:absolute;
  color: #000;
}

header {

  color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	display: flex;
  align-items: center;
  margin-left: -100px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 784px;
  width: 1160px;

}

.cajaUno {
  margin-top: 50px;
  width: 680px;
  height: 717px;
  background-color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
 
}

.principal {
  width: 100%;
  height: 100%;
  background-color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
  display: flex;
  flex-wrap: wrap; 
}

#myInput {
  width: 680px;
  height: 670px;
  border: none;
  font-size: 32px;
  font-family: 'Arial', sans-serif;
  color:rgba(10, 56, 113, 1);;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  resize: none;
  background-color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#myInput::placeholder {
  color:rgba(10, 56, 113, 1);
}

#icono {
  margin-top: 1px;
  width: 16px;
  height: 16px;
  
}

#letrero{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0px;
  color:rgba(10, 56, 113, 1);
  margin-left: 10px;
}

.botones {
  margin-top: 10px;
  width: 100%;
  height: 67px;
  background-color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

button {
  width: 328px;
  height: 67px;
  background-color:rgba(10, 56, 113, 1);
  border-radius: 20px;
  border: none;
  color:rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 0px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cajaDos {
  margin-top: 0px;
  margin-left: 80px;
  width: 400px;
  height: 944px;
  
}

#dibujo{
  margin-top: 243px;
  
}

#tarjetaDibujo {
  margin-top: 0px;
  width: 400px;
  height: 890px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  
}



#mensajeUno {
  margin-top: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  color:#343A40;
  
}

#mensajeDos {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  color: #495057;  
  
}

.dibujoInicial {
  display: none;

}

#myOutput {
  margin-top: 0px;
  width: 400px;
  height: 770px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  height: 10px;
  width: 500px;
  margin-top: 50px;
  padding: 2rem;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
