:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bgn-btn: rgba(10, 56, 113, 1);
  --card-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --text-input: #00000098;
  --border-radius: 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #f1f1f1;
  color: #000;
  height: 100vh;
}

header {
  color: rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
  display: flex;
  align-items: center;
  margin-left: -100px;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.cajaUno {
  background-color: rgba(
    243.00000071525574,
    245.00000059604645,
    252.00000017881393,
    1
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 680px;
}

.principal {
  width: 100%;
  height: 100%;
  background-color: rgba(
    243.00000071525574,
    245.00000059604645,
    252.00000017881393,
    1
  );
  display: flex;
  flex-direction: column;
}

#myInput {
  height: 40vh;
  border: none;
  font-size: 32px;
  font-family: "Arial", sans-serif;
  color: var(--text-input);
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  resize: none;
  background-color: rgba(
    243.00000071525574,
    245.00000059604645,
    252.00000017881393,
    1
  );
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}

#myInput::placeholder {
  color: rgb(62, 63, 65);
}

#icono {
  margin-right: 6px;
  width: 16px;
  height: 16px;
}

#letrero {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0px;
  color: rgba(10, 56, 113, 1);
  margin-left: 10px;
}

.botones {
  margin-top: 2rem;
  background-color: rgba(
    243.00000071525574,
    245.00000059604645,
    252.00000017881393,
    1
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  min-width: 120px;
  padding: 20px 0;
  background-color: rgba(10, 56, 113, 1);
  border-radius: var(--border-radius);
  border: none;
  color: rgba(243.00000071525574, 245.00000059604645, 252.00000017881393, 1);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 0px;
  text-align: center;
  font-weight: 500;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cajaDos {
  margin-top: 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#dibujo {
  padding: 2rem 2rem 0 2rem;
}

#tarjetaDibujo {
  margin-top: 0px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  min-height: 600px;
}

#mensajeUno {
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  color: #343a40;
  padding: 0 10px;
}

#mensajeDos {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  color: #495057;
}

.dibujoInicial {
  display: block;
}

.resultado {
  display: none;
}

#myOutput {
  margin-top: 0px;
  background-color: white;
  border-radius: var(--border-radius);
  border: none;
  resize: none;
  outline: none;
  font-size: 30px;
  color: #555353;
  padding: 10px 10px 10px 20px;
}
#myOutput::placeholder {
  color: var(--text-input);
}

#app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  margin-top: 2rem;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-myInput {
  display: flex;
  align-items: center;
}

section > img {
  padding: 10px;
}

.botones_input {
  width: 100%;
  text-align: left;
}

#desencriptarBtn {
  margin-left: 30px;
}

#copiarBtn {
  margin-top: 50px;
  max-width: 120px;
}
button#copiarBtn {
  background: none;
  border: 1px var(--bgn-btn) solid;
  color: var(--bgn-btn);
}
button#desencriptarBtn {
  background: none;
  border: 1px var(--bgn-btn) solid;
  color: var(--bgn-btn);
}
button#encriptarBtn {
  font-weight: bold;
}

